<div class="hextra-feature-grid hx:grid hx:sm:grid-cols-2 hx:gap-4 hx:w-full not-prose" style="margin-top: 2rem; margin-bottom: 2rem;">
  {{ $latestPost := first 1 (where .Site.RegularPages.ByDate.Reverse "Section" "blog") }}
  {{ range $latestPost }}
    <a
      href="{{ .Permalink }}"
      class="hextra-feature-card not-prose hx:block hx:relative hx:overflow-hidden hx:rounded-3xl hx:border hx:border-gray-200 hx:hover:border-gray-300 hx:dark:border-neutral-800 hx:bg-gray-50 hx:dark:bg-neutral-900"
    >
      <div class="hx:relative hx:w-full hx:p-6 hx:text-center">
        <div class="hx:text-2xl hx:font-semibold hx:mb-4 hx:text-primary-500 dark:hx:text-primary-400">Latest from Blog</div>
        <hr class="hx:border-gray-200 dark:hx:border-neutral-800 hx:my-4">
        <h3 class="hx:text-xl hx:font-bold hx:leading-6 hx:mb-2 hx:flex hx:items-center hx:justify-center hx:mt-4">
          <span class="hx:pr-2">
            {{- partial "utils/icon.html" (dict "name" "newspaper" "attributes" "height=1.5rem") -}}
          </span>
          <span>{{ .Title }}</span>
        </h3>
        <p class="hx-text-gray-600 hx:dark:text-gray-400 hx:text-base hx:leading-6">{{ .Summary | markdownify }}</p>
      </div>
    </a>
  {{ end }}

  {{ $latestProject := first 1 (where .Site.RegularPages.ByDate.Reverse "Section" "projects") }}
  {{ range $latestProject }}
    <a
      href="{{ .Permalink }}"
      class="hextra-feature-card not-prose hx:block hx:relative hx:overflow-hidden hx:rounded-3xl hx:border hx:border-gray-200 hx:hover:border-gray-300 hx:dark:border-neutral-800 hx:bg-gray-50 hx:dark:bg-neutral-900"
    >
      <div class="hx:relative hx:w-full hx:p-6 hx:text-center">
        <div class="hx:text-2xl hx:font-semibold hx:mb-4 hx:text-primary-500 dark:hx:text-primary-400">Latest Project</div>
        <hr class="hx:border-gray-200 dark:hx:border-neutral-800 hx:my-4">
        <h3 class="hx-text-xl hx:font-bold hx:leading-6 hx:mb-2 hx:flex hx:items-center hx:justify-center hx:mt-4">
          <span class="hx:pr-2">
            {{- partial "utils/icon.html" (dict "name" "terminal" "attributes" "height=1.5rem") -}}
          </span>
          <span>{{ .Title }}</span>
        </h3>
        <p class="hx-text-gray-600 hx:dark:text-gray-400 hx:text-base hx:leading-6">{{ .Summary | markdownify }}</p>
      </div>
    </a>
  {{ end }}
</div>